@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#FFC222;
    --black:#11101D;
    --bg:#1d1b31;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
    /* overflow-x: hidden; */
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}



body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    /* animation: text 3s 1; */
    text-shadow: 1px 4px 4px wheat;
}

.heading span{
    color:white;
    text-transform: uppercase;
}

/* @keyframes text{
    0%{
        color: #000;
        margin-bottom: -40px;
        letter-spacing: 5px;
    }
    
}
@keyframes text1{
    0%{
        color: #000;
        margin-bottom: -40px;
    }
    
} */
#footer{
    background: #1d1b31;
  }
  .contact-wrap {
      width: 100%;
      height: auto;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
  }
  
  .contact-in {
      padding: 40px 30px;
  }
  
  .contact-in:nth-child(1) {
      flex: 30%;
      color: #fff;
  }
  
  .contact-in:nth-child(2) {
      flex: 45%;
  }
  
  .contact-in:nth-child(3) {
      flex: 25%;
      padding: 0;
  }
  
  .contact-in h1 {
      font-size: 30px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 20px;
      /* animation:text1 1s 1 ; */
  }
  
  .contact-in h2 {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 15px;
  }
  
  .contact-in h2 i {
      font-size: 25px;
      width: 50px;
      height: 50px;
      margin-right: 10px;
      background: #f5f5f5;
      color: #000;
      border-radius: 50px;
      line-height: 40px;
      text-align: center;
    padding-top: 5px;
  }
  
  .contact-in p {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 20px;
  }
  
  .contact-in ul {
      padding: 0;
      margin: 0;
  }
  
  .contact-in ul li {
      list-style: none;
      display: inline-block;
      margin-right: 8px;
      margin-top: 8px;
  }
  
  .contact-in ul li a {
      display: block;
      width: 50px;
      height: 50px;
      text-align: center;
      background: #fff;
      border-radius: 50px;
  }
  
  .contact-in ul li a i {
    padding-top: 10px;
      font-size: 28px;
      line-height: 30px;
      color: #000;
  }
  
  .contact-in form {
      width: 100%;
      height: auto;
  }
  
  .contact-in-input {
      width: 100%;
      height: 40px;
      margin-bottom: 20px;
      border: 1px solid #fff;
      outline: none;
      padding-left: 5px;
      background: transparent;
      color: #fff;
      font-size: 12px;
      font-weight: 300;
      font-family: 'Poppins', sans-serif;
  }
  
  .contact-in-input::placeholder {
      color: #fff;
  }
  
  .contact-in-textarea {
      width: 100%;
      height: 140px;
      margin-bottom: 20px;
      border: 1px solid #fff;
      outline: none;
      padding-top: 5px;
      padding-left: 5px;
      background: transparent;
      color: #fff;
      font-size: 12px;
      font-weight: 300;
      font-family: 'Poppins', sans-serif;
  }
  
  .contact-in-textarea::placeholder {
      color: #fff;
  }
  
  .contact-in-btn {
      width: 100%;
      height: 40px;
      border: 1px solid #fff;
      outline: none;
      background: transparent;
      color: #fff;
      font-size: 12px;
      font-weight: 300;
      font-family: 'Poppins', sans-serif;
      cursor: pointer;
  }
  
  .contact-in iframe {
      width: 100%;
      height: 100%;
  }
  
  .contact-in .social-icons{
      color: beige;
  }
  @media only screen and (max-width:480px) {
      .contact-in:nth-child(1) {
          flex: 50%;
      }
  
      .contact-in:nth-child(2) {
          flex: 50%;
      }
  
      .contact-in:nth-child(3) {
          flex: 100%;
      }
  
  }
  
  @media only screen and (max-width:360px) {
      .contact-in:nth-child(1) {
          flex: 50%;
      }
  
      .contact-in:nth-child(2) {
          flex: 50%;
      }
  
      .contact-in:nth-child(3) {
          flex: 100%;
      }
  
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #1d1b31;
  }
  .bottom center span{
    color: white;
  }
  .bottom center a{
    color: rgb(220, 190, 20);
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }

.footer .footer-line{
    color: white;
    font-size: 2rem;
}


  /* footer bottom styling */
  .bottom center{
    padding: 8px;
    font-size: 2rem;
    background: var(--black);
  }
  .bottom center span{
    color: white;
    margin-top: 15px;
  }
  .bottom center a{
    color: rgb(220, 190, 20);
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }

.footer .footer-line{
    color: white;
    font-size: 2rem;
}
  
