* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    color: #3E474F;
}

body {
  overflow: hidden;
  background-color: black;
}

.wrapper {
    max-width: 600px;
    width: 100%;
    margin: 10vh auto;
}

h1 {
    font-size: 6rem;
    margin-bottom: 20px;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    box-sizing: border-box;
    border: 4px 8px 8px solid blue;
}
h1 :hover{
    box-shadow: 0 15px 15px red;
    cursor: pointer;

}

input {
    display: none;
}

label {
    display: flex;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: 4px solid white;
    user-select: none;
}

label div:first-child {
    width: 100%;
    line-height: 45px;
    margin-left: 10px;
    font-size: 1.2em;
}

.cross{
    margin-right:15px;
    margin-top:3px;
}

.cross:before,.cross:after {
    content: '';
    border-top: 2px solid #3E474F;
    width: 15px;
    display: block;
    margin-top: 18px;
    transition: 0.3s;
}

.cross:after {
    transform: rotate(90deg);
    margin-top: -2px;
}

.content {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.9em;
    margin: 10px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height, .5s;
}

input:checked ~ .content {
    max-height: 400px;
    transition: max-height, 1s;
}

input:checked ~ label .cross:before {
    transform: rotate(180deg);
}

input:checked ~ label .cross:after {
    transform: rotate(0deg);
}

.questions{
    margin-top:20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height, .5s;
}

.questions label{
    border:none;
    box-shadow: none;
    margin:0;
}

input:checked ~ .questions {
    max-height: 400px;
    border-bottom:2px solid #3E474F;
    transition: 1s;
}



.tip {
    color: #f03768;
    cursor: help;
    position: relative;
    overflow: visible;
    font-family: monospace;
    font-size: 1.3em;
}

.tip:before,
.tip:after {
    position: absolute;
    opacity: 0;
    z-index: -100;    
    transform: translateY(-30%);
    transition: .4s;
}

.tip:before {
    content: '';
    border-style: solid;
    border-width: 0.8em 0.5em 0 0.5em;
    border-color: #3E474F transparent transparent transparent;
    transform: translateY(-200%);
    bottom:90%;
    left:50%;
}

.tip:after {
    content: attr(data-tip);
    background: #3E474F;
    color: white;
    width: 150px;
    padding: 10px;
    font-size: 0.8em;
    bottom: 150%;
    left: -50%;
}

.tip:hover:before,
.tip:hover:after {
    opacity: 1;
    z-index: 100;
    transform: scaleY(1);
}
.wrap-1{
    border: 15px;
    border-radius: 15px;
}
.heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: whitesmoke;

}

