/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}
html{
    font-size: 60%;
}

.bottom-nav{
    position: absolute;
    bottom: 0;
}
.top-nav{
    position: fixed;
    top: 0;
}
.nav{
    display:flex;
    align-items: center;
    height: 6rem;
    position: absolute;
    bottom: 0;
    /* transform: translateY(-200%); */
    background-color: black;
    width:100%;
    /* z-index: -1; */

}
.nav ul{
    display: flex;
    padding: 0 0 0 20rem;
    position: absolute;
}
.nav ul li{
    display: flex;
    list-style: none;
    font-size: 2rem; 
    justify-content: center;   
}
.nav ul li a{
    display: block;
    color: white;
    padding: .3rem 1.6rem;

    border-radius: .1rem;
    text-decoration: none;
    /* transition: 0.2s; */
}
/* .nav ul li a:active{
    border: solid white 1.5px;
    border-radius: 0.5rem;
    padding: .1rem 1.5rem;
    margin:0 0;
} */
.nav ul li a:hover{
    border: solid white 1.5px;
    border-radius: 0.5rem;
    padding: .1rem 1.5rem;
    margin:0 0;
}
/* Navigation Bar : Logo and Image */

#logo{
    margin: 0rem 2.6rem 0 0;
    height: auto;    
}
/* HOME SECTION */
#home{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: .3rem 20rem;
    height: 92vh;
    justify-content: center;
    align-items: Center;
    color: #333;
    font-size: 7.0rem;
    transition:0.01s;
}
#home::before{
    content:"";
    position: absolute;
    background: url("./bg3.jpg") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:1;
}




.h1-primary{
    font-size: 5rem;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
}
.h2-primary{
    font-size: 4rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: white;

    font-family: 'Baloo Bhai 2', cursive;
}
.h3-primary{
    font-size: 12rem;
    color: white;

    font-family: 'Baloo Bhai 2', cursive;
}

.container{
    /* background-color: blueviolet; */
    font-size: 2rem;
    width:80%;
    margin:5rem 0.5rem;
    padding:1rem;
}
.container .box{
    width:100%;
    margin-top:50px;
    padding:1rem;
    background: #fff; 
}


.bodym1 {
    background: #f2f4f8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    font-family: "Open Sans";
  }
  
  .innovation {
    --bg-color: rgb(113, 176, 248);
    --bg-color-light: rgb(136, 198, 248);
    --text-color-hover: #fff;
    --box-shadow-color: rgba(40, 40, 134, 0.48); 
  }
  
  .health {
    --bg-color: #B8F9D3;
    --bg-color-light: #e2fced;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
  }
  
  .education {
    --bg-color: #ffd861;
    --bg-color-light: #ffeeba;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(255, 215, 97, 0.48);
  }
  
  .automation {
    --bg-color: rgb(238, 205, 167);
    --bg-color-light: rgb(253, 236, 205);
    --text-color-hover: rgb(0, 0, 0);
    --box-shadow-color: rgb(236, 158, 13, 0.48);
  }
  
  
  .banking {
    --bg-color: #CEB2FC;
    --bg-color-light: #F0E7FF;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
  }
  
  .agriculture {
    --bg-color: rgb(255, 173, 173);
    --bg-color-light: rgb(255, 214, 214);
    --text-color-hover: black;
    --box-shadow-color: rgba(255, 0, 0, 0.48);
  }
  
  
  .environment {
    --bg-color: #DCE9FF;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
  }
  
  .cybersecurity {
    --bg-color: rgb(248, 217, 222);
    --bg-color-light: rgb(248, 239, 241);
    --text-color-hover: black;
    --box-shadow-color: rgba(199, 95, 112, 0.48);
  }
  
  
  
  .card {
    width: 220px;
    height: 321px;
    background: #fff;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
  }
  
  .card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
  }
  
  .card:hover .overlay {
    transform: scale(4) translateZ(0);
  }
  
  .card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
  }
  
  .card:hover .circle:after {
    background: var(--bg-color-light);
  }
  
  .card:hover p {
    color: var(--text-color-hover);
  }
  
  .card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
      0 15px 24px var(--box-shadow-color);
  }
  
  .card p {
    font-size: 17px;
    color: #4C5656;
    margin-top: 30px;
    z-index: 1000;
    transition: color 0.3s ease-out;
  }
  
  .circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
  }
  
  .circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
  }
  
  .circle svg {
    z-index: 10000;
    transform: translateZ(0);
  }
  
  .overlay {
    width: 118px;
    position: absolute; 
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
  }
  
  #innovationbg {
    background-color: rgb(136, 198, 248);
  }
  
  #healthcarebg {
    background-color: #B8F9D3;
  }
  
  #educationbg {
    background-color: #ffeeba;
  }
  
  #automationbg {
    background-color:rgb(238, 205, 167);
  }
  
  #bankingbg {
    background-color: #CEB2FC;
  }
  
  #agriculturebg {
    background-color: rgb(255, 173, 173);
  }
  
  #environmentbg {
    background-color: #DCE9FF;
  }
  
  #cybersecuritybg {
    background-color: rgb(248, 217, 222);
  }