/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}
html{
    font-size: 60%;
}

.bottom-nav{
    position: absolute;
    bottom: 0;
}
.top-nav{
    position: fixed;
    top: 0;
}
.nav{
    display:flex;
    align-items: center;
    height: 6rem;
    position: absolute;
    bottom: 0;
    /* transform: translateY(-200%); */
    background-color: black;
    width:100%;
    /* z-index: -1; */

}
.nav ul{
    display: flex;
    padding: 0 0 0 20rem;
    position: absolute;
}
.nav ul li{
    display: flex;
    list-style: none;
    font-size: 2rem; 
    justify-content: center;   
}
.nav ul li a{
    display: block;
    color: white;
    padding: .3rem 1.6rem;

    border-radius: .1rem;
    text-decoration: none;
    /* transition: 0.2s; */
}
/* .nav ul li a:active{
    border: solid white 1.5px;
    border-radius: 0.5rem;
    padding: .1rem 1.5rem;
    margin:0 0;
} */
.nav ul li a:hover{
    border: solid white 1.5px;
    border-radius: 0.5rem;
    padding: .1rem 1.5rem;
    margin:0 0;
}
/* Navigation Bar : Logo and Image */

#logo{
    margin: 0rem 2.6rem 0 0;
    height: auto;    
}
/* HOME SECTION */
#home{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: .3rem 20rem;
    height: 92vh;
    justify-content: center;
    align-items: Center;
    color: #333;
    font-size: 7.0rem;
    transition:0.01s;
}
#home::before{
    content:"";
    position: absolute;
    background: url("../images/bg3.jpg") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:1;
}




.h1-primary{
    font-size: 5rem;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
}
.h2-primary{
    font-size: 4rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: white;

    font-family: 'Baloo Bhai 2', cursive;
}
.h3-primary{
    font-size: 12rem;
    color: white;

    font-family: 'Baloo Bhai 2', cursive;
}

.container{
    /* background-color: blueviolet; */
    font-size: 2rem;
    width:80%;
    margin:5rem 0.5rem;
    padding:1rem;
}
.container .box{
    width:100%;
    margin-top:50px;
    padding:1rem;
    background: #fff; 
}
